body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F8F8F8;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #FFFFFF;
    width: 50%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header #title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%%;
}

#header #img {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#main {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
}

nav {
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    margin-bottom: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #8A2BE2;
    text-decoration: none;
}

a:visited {
    color: #696969;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #8A2BE2;
    display: inline-block;
    vertical-align: middle;
    width: 66%;
    padding-top: 10px;
    padding-bottom: 10px;

table {
    background-color: #FFFFFF;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}